*.lock
*.log
*.gen
.metadata/.mylyn/.taskListIndex/segments_1
*.zip
.metadata/.plugins/org.eclipse.core.resources/.history/36/60c90a39e174001512cef2ac601eb8c9
.metadata/.plugins/org.eclipse.core.resources/.history/54/904eafbce074001512cef2ac601eb8c9
.metadata/.plugins/org.eclipse.core.resources/.history/5e/c039262ae174001512cef2ac601eb8c9
.metadata/.plugins/org.eclipse.core.resources/.history/89/70bce4a7e074001512cef2ac601eb8c9
.metadata/.plugins/org.eclipse.core.resources/.history/aa/00b82b2ae174001512cef2ac601eb8c9
.metadata/.plugins/org.eclipse.core.resources/.history/fb/00baaf90e074001512cef2ac601eb8c9
*.index
*.snap
*.resources
*.prefs
*.launch
*.xml
*.xmi
.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
*.txt
.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
*.history
.metadata/.plugins/org.eclipse.team.cvs.core/.running
*.ini
.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/segments_1
*.fdt
*.fdx
*.fnm
*.frq
*.nrm
*.prx
*.tii
*.tis
*.properties
*.repositories
*.classpath
*.project
*.class